@import "tailwindcss";

/* @utility container{
    @apply mx-auto
} */
@theme {
    /* ===========Font start here============= */
    --font-Quicksand: "Quicksand", sans-serif;
    --font-oswald: "oswald", sans-serif;
    --font-opensans: "Open Sans", sans-serif;
    /* ===========Font end here============= */
    

   /* ===========Color start here============= */
   --color-primary: #48B1FB;
   /* ===========Color end here============= */
   
;
  
} 

.container{
    max-width: 1280px;
    margin: 0 auto;
}
