@import "tailwindcss";

/* @utility container{
    @apply mx-auto
} */
@theme {
  --font-oswald: "oswald", sans-serif;
  --font-Quicksand: "Quicksand", sans-serif;
  --font-opensans: "Open Sans", sans-serif;

  --color-Primary: #48B1FB;
  
;
  
} 

.container{
    max-width: 1280px;
    margin: 0 auto;
}